# Netflix Preprocessing Data
_"Top 5 Netflix Genre in NOV 2019"_


### Setup data
- Import necessary package
- Setup display pandas
- Defines dataframe

In [19]:
import pandas as pd

#read the raw dataset
df = pd.read_csv('netflix_titles_nov_2019.csv')
#set up display based on data set
pd.set_option('display.max_colwidth', 50)
df.head(5)

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
0,81193313,Chocolate,NaN,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,"November 30, 2019",2019,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Brought together by meaningful meals in the pa...,TV Show
1,81197050,Guatemala: Heart of the Mayan World,"Luis Ara, Ignacio Jaunsolo",Christian Morales,NaN,"November 30, 2019",2019,TV-G,67 min,"Documentaries, International Movies","From Sierra de las Minas to Esquipulas, explor...",Movie
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,"November 30, 2019",2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium","November 29, 2019",2019,TV-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
4,80213643,Chip and Potato,NaN,"Abigail Oliver, Andrea Libman, Briana Buckmast...","Canada, United Kingdom",NaN,2019,TV-Y,2 Seasons,Kids' TV,"Lovable pug Chip starts kindergarten, makes ne...",TV Show

### Filtering
- Filter the collums that will be used
- Filter dataframe by Country = 'United States'
- Filter dataframe by Release_year = '2019'
- Reset the index
- change 'date_added' type data to datetime64[ns]  
- Filter dataframe by month 'November/11'

In [20]:
# df[['col1','col2','col3']]
df_filtered = df[['country','date_added','release_year','rating','listed_in']]

# df.loc[df['col1'] == 'value']
df_country = df_filtered.loc[df_filtered['country'] == 'United States']
df_country.head()

,country,date_added,release_year,rating,listed_in
11,United States,"November 29, 2019",2019,TV-PG,Reality TV
15,United States,"November 29, 2019",2019,TV-MA,Docuseries
16,United States,"November 28, 2019",2019,TV-PG,"Children & Family Movies, Dramas"
19,United States,"November 28, 2019",2019,TV-PG,TV Comedies
22,United States,"November 27, 2019",2019,TV-14,Docuseries

In [21]:
# df.loc[df['colhead'] == 'value']
df_year = df_country.loc[df_country['release_year'] == 2019]

# reset_index()
df_year = df_year.reset_index()
df_year.head()

,index,country,date_added,release_year,rating,listed_in
0,11,United States,"November 29, 2019",2019,TV-PG,Reality TV
1,15,United States,"November 29, 2019",2019,TV-MA,Docuseries
2,16,United States,"November 28, 2019",2019,TV-PG,"Children & Family Movies, Dramas"
3,19,United States,"November 28, 2019",2019,TV-PG,TV Comedies
4,22,United States,"November 27, 2019",2019,TV-14,Docuseries

In [22]:
# pd.to_datetime(df_year.date_added)
df_year['date_added'] = pd.to_datetime(df_year.date_added)

# [df_year.date_added.dt.month == 11]
df_date = df_year.loc[df_year.date_added.dt.month == 11]
df_date.head()

,index,country,date_added,release_year,rating,listed_in
0,11,United States,2019-11-29,2019,TV-PG,Reality TV
1,15,United States,2019-11-29,2019,TV-MA,Docuseries
2,16,United States,2019-11-28,2019,TV-PG,"Children & Family Movies, Dramas"
3,19,United States,2019-11-28,2019,TV-PG,TV Comedies
4,22,United States,2019-11-27,2019,TV-14,Docuseries

### Export data

In [23]:
# to_csv()
df_date.to_csv('Netflix_filtered.csv')